<div class="col-lg-6">
    <article class="media-box">
      <figure class="media-left">
        <p class="img-circle">
            <img src="https://via.placeholder.com/65" class="img-circle">
        </p>
      </figure>
      <div class="media-content">
        <%= render 'twts/form' %>
      </div>
    </article>
    <hr>
</div>

<div class="col-lg-3" id="twts">
  <% @twts.each do |twt| %>
    <article class="media">
      <div class="media-left" id="media-lt">
        <figure class="img-circle">
          <img src="https://via.placeholder.com/65" class="img-circle">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong>Mesi</strong><br/ >
          <small>@Mesi18</small><br />
          <p><%= twt.twt %></p>
        </div>
        <div class="container-fluid level-left">
          <%= link_to twt, class: "level-item" do %>
            <i class="fa fa-link" aria-hidden="true"></i>
          <% end %>
          <%= link_to edit_twt_path(twt), class: "level-item" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
          <%= link_to twt, method: :delete, data: { confirm: "Are you sure?" }, class: "level-item" do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </article>
    <hr>
  <% end %>
</div>