<section class="section">
  <div class="container">
    <div class="col">
      <%= render 'feed' %>
    </div>
  </div>
</section>

<% @twts.each do |twt| %>
  <tr>
    <td><%= twt.twt %></td>
    <td><%= link_to 'Show', twt %></td>
    <td><%= link_to 'Edit', edit_twt_path(twt) %></td>
    <td><%= link_to 'Destroy', twt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<br>

<%= link_to 'New Twt', new_twt_path %>
